.container {
  border-radius: 5px;
  max-width: 476px;
  background: #EB5A52;
  padding: 32px 40px 32px 31px;
}

.book-header {
  height: 263px;
  position: relative;
  padding-left: 117px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: var(--White, #FFF);
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.12);
}

.author { 
  padding-top: 8px;
  color: var(--Grey, #F4F4F4);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.12); 
}

.summary-title {
  padding-top: 24px;
}

.summary {
  padding-top: 12px;
}