@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: black;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.app {
  width: 754px;
  margin: auto;
  display: grid;
  gap: 9px;
  grid-template-columns: 270px 476px;
}


.image {
  width: 233px;
  height: 263px;
  object-fit: cover;
  position: absolute;

  .overlay {
    background: linear-gradient(0deg, rgba(235, 90, 82, 0.20) 0%, rgba(235, 90, 82, 0.20) 100%);
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
}
