.container {
  border-radius: 5px;
  max-width: 270px;
  width: 100%;
  background: #EB5A52;
  padding: 20px;
}

.header {
  padding-bottom: 37px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.tag {
  background: white;
  color: #EF8774;
  padding: 2px 8px;
  border-radius: 2px;
  margin-top: auto;
  margin-bottom: auto;
}

.spacer {
  padding-top: 13px;
}
